ALTER TABLE public.profiles DISABLE ROW LEVEL SECURITY; ALTER TABLE public.shops DISABLE ROW LEVEL SECURITY; ALTER TABLE public.products DISABLE ROW LEVEL SECURITY; ALTER TABLE public.clients DISABLE ROW LEVEL SECURITY; ALTER TABLE public.orders DISABLE ROW LEVEL SECURITY; ALTER TABLE public.invoices DISABLE ROW LEVEL SECURITY;
